/*=================================================*/
/*                      Base                     */
/*=================================================*/

$color-primary : #D43839;
$color-secondary: rgba(#D43839, 0.28);
$header-color: #2E2E2E;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:hover {
    color: currentColor;
  }
}

ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
}

body {
  font-family: 'Gothic A1', sans-serif;
}

img {
  width: 100%;
}

main {
  overflow-x: hidden;
}

:root {
  --responsive-font: 1.83rem;
}

/* ---------const------------*/

$bp-xlarge: 112.5em; //1800px
$bp-largest: 75em; //1200px
$bp-992: 61.875em; //990
$bp-small: 52.25em; //900px
$bp-xsmall: 37.5em; //600px
$bp-380: 23.75em; //380
$bp-340: 21.25em; //340
$bp-290: 18.125em; //290
/* ----xx-----const-------xx-----*/

html {
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-xsmall) {
    // font-size: 48.75%;
  }

  @media only screen and (max-width: $bp-380) {
    font-size: 44%;
  }

  @media only screen and (max-width: $bp-340) {
    font-size: 42%;
  }

  @media only screen and (max-width: $bp-290) {
    font-size: 35%;
  }

  @media only screen and (min-width: $bp-xlarge) {
    font-size: 75%;
  }
}

/*=================================================*/
/*                 Buttons                       */
/*=================================================*/

.btn {
  background: #016fb7;
  box-shadow: 0px 7px 10px #58bdff3d;
  border-radius: 6px;
  font-size: 1.6rem;
  color: #fff;
  padding: 0.8rem 2rem;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.3px;
  z-index: 1;
  transition: 0.5s;
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;

  span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
    border: none;
  }

  &:hover {
    color: #fff;

    & span {
      width: 225%;
      height: 562.5px;
      background-color: #005b97;
    }
  }

  &:active {
    background-color: #00c4ad;
  }

  &--white {
    background: #fff;
    color: #016fb7;
    margin-top: 1rem;
    box-shadow: none;
  }

  &--header {
    padding: 1rem 2.4rem;
    box-shadow: none;
    margin-top: 1rem;
    background: #219bec;
    border: none;
  }

  &--about {
    padding: 1.2rem 2.6rem;
    margin-top: 1rem;
  }

  @media only screen and (max-width: $bp-992) {
    &--nav {
      display: none;
    }
  }
}

/*=================================================*/
/*                 Typography                      */
/*=================================================*/

.heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  align-items: center;
  width: 100%;

  &--about {
    text-align: left;
    align-items: flex-start;
    padding-left: 11rem;
    position: relative;
    margin-bottom: 3rem;

    .heading__primary {
      margin-bottom: 0rem;
    }




    &::before {
      content: "";
      background: $color-secondary;
      height: 0.7rem;
      border-radius: 12px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 9rem;
      margin-bottom: 5rem;
      display: block;
    }

    &-2 {

      align-items: flex-end;
      padding-left: 0rem;
      padding-right: 11rem;
      

      &::before {
        left: auto;
        right: 0;
      }


    }
  }

  &__lined {

    display: flex;
    align-items: center;
    width: 100%;

    &::before,
    &::after {
      content: "";
      background: $color-secondary;
      height: 0.7rem;
      border-radius: 12px;
      flex: 1;
      margin-bottom: 2rem;

    }

    &::before {
      margin-right: 5.0rem;
    }

    &::after {
      margin-left: 5.0rem;
    }
  }



  @media only screen and (max-width: $bp-xsmall) {
    margin-bottom: 3rem;
  }

  &__primary {
    color: $header-color;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: -1.4px;
    margin-bottom: 2rem;

    span {
      font-weight: 700;
    }



    &--features {
      color: #fff;
    }

    &--about-page {
      @media only screen and (max-width: $bp-small) {
        margin-bottom: 0rem;
      }
    }
  }

  &__subtitle {
    color: #585757;
    font-size: 1.9rem;
    font-weight: 400;
    max-width: 75rem;
    text-align: center;

    &--features {
      color: #fff;
    }
  }

  &--terms {
    font-size: 2.1rem;
    font-weight: 500;
    margin: 2rem 0;
  }

  &--about-page {
    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-small) {
      margin-bottom: 0rem;
    }
  }
}

.paragraph {
  font-size: 1.55rem;
  line-height: 1.7;
  color: #2e2f31;
  font-weight: 400;
  letter-spacing: -0.1px;
  margin-bottom: 2rem;
  text-align: justify;

  @media only screen and (max-width: $bp-xsmall) {
    font-size: var(--responsive-font);
  }

  &--about{
    width: 100%;
  }

}

.para-last-item {
  margin-bottom: 0;
}

/*=================================================*/
/*                 Section-padding                 */
/*=================================================*/

.section-padding {
  padding: 8rem 0rem;

  &--about {
    padding: 8rem 0rem 0rem;

  }

  @media only screen and (max-width: $bp-small) {
    padding: 7rem 1rem;
  }
}

/*=================================================*/
/*            Fetaures Tab animations              */
/*=================================================*/
.move-left {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.move-left.animate {
  -webkit-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  transform: translateX(-100px);
  -webkit-animation: moveLeft 0.65s ease forwards;
  animation: moveLeft 0.65s ease forwards;
}

.move-right.animate {
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-animation: moveRight 0.65s ease forwards;
  animation: moveRight 0.65s ease forwards;
}

@-webkit-keyframes moveLeft {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes moveLeft {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes headerSlideDown {
  0% {
    margin-top: -100px;
  }

  to {
    margin-top: 0;
  }
}

@keyframes headerSlideDown {
  0% {
    margin-top: -100px;
  }

  to {
    margin-top: 0;
  }
}

@-webkit-keyframes moveRight {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes moveRight {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/*=================================================*/
/*                 Breadcrumbs                     */
/*=================================================*/

.breadcrumb {
  background-image: url('../img/inner-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  padding: 4rem 0;
  margin-bottom: 0;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: #016fb7;
    content: '';
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 0;
  }

  &__title {
    z-index: 2;
    color: #fff;
    position: relative;
    font-size: 3rem;
    margin-bottom: 0;
  }
}