@import "base";
@import "navbar";




/*=====================================================*/
/*                   Nav bar                           */
/*=====================================================*/
.navbar {
    padding: 0.5rem 0;
    background: $color-primary;
    color: #fff;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-xsmall) {
        padding: 1rem 0;

        // display: none;
    }

    &__left-part,
    &__social {
        display: flex;
        align-items: center;
    }

    &__left-part {
        i {
            margin-right: 1rem;
            font-size: 1.5rem;
            color: #fff;
            border-radius: 50%;

            @media only screen and (max-width: $bp-xsmall) {
                font-size: 1.8rem;
            }
        }

        h5 {
            font-size: 1.5rem;
            margin-bottom: 0;
            color: #fff;

            @media only screen and (max-width: $bp-xsmall) {
                font-size: 1.8rem;
            }
        }

        @media only screen and (max-width: $bp-xsmall) {
            width: 100%;
        }
    }

    &__contact {
        a {
            color: #fff;
            font-weight: 400;

            &:hover {
                color: rgba(#fff, 0.8);
            }
        }

        &:first-child {
            margin-right: 2rem;
        }
    }

    &__mail {
        @media only screen and (max-width: $bp-xsmall) {
            display: none;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 1rem
    }

    &__social {
        gap: 1rem;

        &-item {
            // margin-right: 1rem;
            font-size: 1.4rem;
            cursor: pointer;
            background: #fff;
            border-radius: 5rem;
            padding: 0.4rem;
            line-height: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s ease-in-out;

            @media only screen and (max-width: $bp-xsmall) {
                padding: 0.8rem;
            }

            &:hover {
                background: $color-primary;

                i {
                    color: #fff;
                }
            }

            i {
                color: $color-primary;
            }
        }
    }

    &__right-part {
        // @media only screen and (max-width: $bp-xsmall) {
        //     display: none;
        // }
    }

    .mobile-nav-icon {
        @media only screen and (max-width: $bp-xsmall) {
            margin-left: auto;
        }
    }
}

/*=====================================================*/
/*                  Nav - main                         */
/*=====================================================*/

.main-nav {
    padding: 2.4rem 0;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-size: 3rem;
        color: #016fb7;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 0;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: $bp-xsmall) {
            display: none;
        }
    }

    &__items {
        margin-right: 6rem;
    }

    &__link {
        font-size: 1.6rem;
        font-weight: 400;
        color: #727272;

        &:hover {
            color: #0467a8;
        }

        &.active {
            color: #0467a8;
            font-weight: 500;
        }
    }
}

//////////////////////////////
//  header

header {
    max-height: 100vh;
    // overflow: hidden;
    height: auto;
    position: relative;

    .swiper {
        width: 100%;
        height: 100%;
        margin-bottom: 8rem;

        &-slide img {
            display: block;
            width: 100%;
            height: 100%;

        }


        &-pagination {
            position: absolute;
            left: 0 !important;
            bottom: -5rem !important;
            width: 100% !important;
            margin: 0;
            // display: flex;
            // align-items: center;
            // justify-content: center;
        }

        &-pagination-bullet {
            width: 5rem;
            height: 0.7rem;
            opacity: 1;
            border-radius: 2rem;
            background: #BDBDBD;
        }

        &-pagination-bullet-active {
            background: $color-primary;
            width: 8rem;

        }



        &-button-prev,
        &-button-next {
            position: absolute;
            left: 15px;
            top: 50%;
            opacity: 0;
            -webkit-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out;
            background: rgba(0, 0, 0, 0.5) !important;
            width: 40px;
            cursor: pointer;
            height: 40px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1000;
            border-radius: 0;

            span {
                font-size: 1.6875rem;
                color: #fff;
            }

            &:focus {
                outline: 0;
            }

            &:hover {
                background: #000 !important;
            }

            &::after {
                display: none;
            }
        }

        &-button-next {
            right: 15px !important;
            left: auto !important;
        }


        &:hover {
            .swiper-button-prev {
                left: 0px;
                opacity: 1;
            }

            .swiper-button-next {
                right: 0px;
                opacity: 1;
            }
        }

    }

}

/////////////////////////////
/// about

.about {

    &__left-part,
    &__right-part {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

    &__left-part {
        padding: 0rem 3rem;

        @media only screen and (max-width: $bp-992) {
            padding: 3rem 0rem 3rem 3rem;
        }

        &--page {
            padding: 0rem 0rem 0rem 4rem;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            @media only screen and (max-width: $bp-992) {
                padding: 3rem 1rem 0rem;
            }
        }
    }

    &__right-part {

        &__about-3 {
            padding: 5rem;
        }

        @media only screen and (max-width: $bp-992) {
            padding: 3rem 0rem 3rem 3rem;
        }

        @media only screen and (max-width: $bp-small) {
            padding: 3rem 1rem 0rem 1rem;
        }

        img {
            height: 100%;
        }
    }

    &__row_2 {

        @media only screen and (max-width: $bp-992) {
            flex-direction: column-reverse;
        }
    }
}

/////////////////////////////////////
/// team
/// 



.team {
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

    .row {
        justify-content: center;
        row-gap: 3rem;
    }

    &__col {
        height: 100%;

        @media only screen and (max-width: $bp-992) {
            height: auto;
        }
    }

    .member {
        // width: 325px;
        margin: 1rem;
        background: #fff;
        border-radius: 6px;
        // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
        padding: 2.5rem;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
        height: 100%;

        img {
            width: 100%;
            // margin-bottom: 1rem;
        }

        h3 {
            color: #2e2e2e;
            font-weight: 600;
            font-size: 2rem;
            margin-top: 2rem;
            text-transform: uppercase;
        }

        span {
            font-size: 1.8rem;
            color: #444;

        }

        p {
            margin-top: 2rem;
            color: #7d7d7d;
            font-size: 1.5rem;
            font-weight: 400;

            text-align: justify;
        }


    }
}





////////////////////////////////
/// services

.services {
    &__items {
        padding: 3rem;

        @media only screen and (max-width: $bp-xsmall) {
            padding: 2rem;
        }
    }

    &__content {
        background: #FFF6F6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5rem 3rem;
        border-radius: 8px;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: #000;

        &:hover {

            .services__text {
                color: $color-primary;
            }

        }

        @media only screen and (max-width: $bp-small) {
            padding: 1rem 1rem 4rem;
        }


    }

    &__img {
        // margin-bottom: 2rem;
        width: 100%;
        padding: 0 5rem 3rem;

        @media only screen and (max-width: $bp-small) {
            padding: 3rem 5rem;

        }

        @media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
            height: 115px;
        }
    }

    &__text {
        font-size: 1.8rem;
        text-align: center;

        span {
            font-weight: 700;
        }
    }
}


///////////////////////////////////
/// gallery 
.swiper-container {
    overflow: hidden;

}

/// 
.swiper-container.gallery-swiper {

    .swiper-slide {
        width: 300px !important;
        filter: blur(2px);
        box-shadow: 0px 30px 25px rgba(#000, 0.2);

    }

    .swiper-slide-active {
        filter: blur(0px) !important;

    }

    .swiper-button-prev,
    .swiper-button-next {
        color: $color-primary;
    }
}




//////////////////////////////////////
/// deals
/// 
.deals {
    background: #FFF6F6;
}


.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;

    @media only screen and (max-height: $bp-xsmall) {
        height: 30vh;
    }

    &__img {
        width: 100%;
        border-radius: 0;

        @media only screen and (max-height: $bp-xsmall) {
            height: 100%;
        }
    }
}


/*=================================================*/
/*              Footer                       */
/*=================================================*/

.footer {
    background: #2E2E2E;
    padding: 8rem 1rem;

    @media only screen and (max-width: $bp-xsmall) {
        padding: 8rem 4rem;
    }

    &__list {
        display: grid;
        grid-template-columns:
            repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        column-gap: 12rem;

        @media only screen and (max-width: $bp-992) {
            column-gap: 6rem;
        }

        @media only screen and (max-width: $bp-xsmall) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, max-content) max-content;
            row-gap: 30px;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        @media only screen and (max-width: $bp-small) {
            align-items: flex-start;
            // justify-content: flex-start;
        }

        @media only screen and (max-width: $bp-xsmall) {
            align-items: center;
        }

        & img {
            @media only screen and (max-width: $bp-380) {
                width: 40%;
            }
        }
    }

    &__heading {
        font-size: 3rem;
        margin-bottom: 2rem;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__sub-heading {
        margin-bottom: 2rem;
        position: relative;
        color: #fff;
        font-size: 1.8rem;
        font-weight: 800;
        text-align: left;
        letter-spacing: 1px;

        @media only screen and (max-width: $bp-xsmall) {
            font-size: 2.2rem;
        }
    }

    &__nav-list {
        list-style: none;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__nav-li {
        // margin-bottom: 1.7rem;
        text-align: start;
        width: 100%;


    }

    &__nav-items {
        cursor: pointer;
        color: #fff;
        font-size: 1.5rem;
        text-decoration: none;

        i {
            font-weight: 600;
            color: rgba(#fff, 0.5);
        }

        &:hover {
            color: #aaa;

            i {
                color: #aaa;

            }
        }

        @media only screen and (max-width: $bp-xsmall) {
            font-size: var(--responsive-font);
        }
    }

    &__text {
        color: #fff;
        font-size: 1.5rem;
        position: relative;
        margin-bottom: 0rem;
        line-height: 2 !important;
        max-width: 42rem;
        padding-left: 2rem;

        @media only screen and (max-width: $bp-xsmall) {
            padding-left: 4rem;
        }

        i {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);
        }

        &--contact {
            margin-bottom: 0;
        }

        @media only screen and (max-width: $bp-xsmall) {
            font-size: var(--responsive-font);
            line-height: 1.5;
        }
    }

    &__logo {
        width: 8rem;
        margin-bottom: 2rem;
        border-radius: 0px;
    }

    &__hr {
        margin: 4rem 0 2rem;
        color: #fff;
    }

    &__copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        padding-top: 0.9rem;

        @media only screen and (max-width: $bp-xsmall) {
            flex-direction: column;
            text-align: center;
        }

        h2 {
            color: #c3c3c3;
            font-size: 1.4rem;
            margin: 0;

            @media only screen and (max-width: $bp-xsmall) {
                font-size: 1.6rem;
                max-width: 27rem;
                line-height: 2;
            }
        }
    }

    &__nvf {
        color: #c3c3c3;
    }
}




//////////////////////////////////////
// Testimonial
.testimonial {
    padding: 8rem 0;
    position: relative;

    &__swiper {
        overflow: hidden;
        padding: 0.5rem;

        @media only screen and (max-width: $bp-xsmall) {
            padding: 2rem;
        }
    }

    .swiper-pagination-bullet {
        margin: 0 3px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: transparent !important;
        border: 1px solid #7d7d7d;
        position: relative;
        -moz-transition: 0.5s;
        transition: 0.5s;
        cursor: pointer;
        opacity: 0.5;
        transform: translateY(-2rem);
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        border: 1px solid $color-primary;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            background: $color-primary;
            height: 6px;
            width: 6px;
            transform: translate(-50%, -50%);
            border-radius: 5rem;
        }
    }
}

.review {
    margin-top: 3rem;
    padding: 3rem;
    position: relative;
    overflow: hidden;
    // border: 1px solidvar(--color-primary);
    margin-bottom: 3rem;
    box-shadow: 0.1rem 0rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff8f8;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-self: stretch;
    flex-direction: column;
    flex: initial;
    width: 100%;
    height: auto;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .star__ratings {
            display: flex;
            align-items: center;
            gap: 1rem;

            i {
                font-size: 1.6rem;
                fill: #b7b401;
                color: #f4f000;
            }
        }
    }

    // @media only screen and (max-width: $bp-small) {
    //     height: 37rem;
    // }

    @media only screen and (max-width: $bp-xsmall) {
        height: auto;
    }

    // @media only screen and (max-width: $bp-340) {
    //   // height: 40rem;
    // }

    &::before {
        content: '\201d';
        top: 60%;
        left: 80%;
        position: absolute;
        font-size: 20rem;
        line-height: 1;
        font-family: sans-serif;
        opacity: 0.2;
        color: #6666;
    }

    &__text {
        font-size: 1.7rem;
        z-index: 1;
        position: relative;
        font-weight: 500;
        color: #7d7d7d;
        margin-top: 2rem;

        @media only screen and (max-width: $bp-xsmall) {
            font-size: 1.8rem;
        }
    }

    &__user {
        display: flex;
        padding: 2rem 1rem 0;
        align-items: center;
    }

    &__photo {
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        margin-right: 2rem;
    }

    &__user-box {
        margin-right: auto;
        display: flex;
        flex-direction: column;
    }

    &__user {
        &-description {
            font-size: 1.5rem;
            font-weight: 500;
            margin-top: -1rem;
        }

        &-name {
            color: $color-primary;
            font-size: 1.7rem;
            font-weight: 800;
            margin: 1rem 0;
        }
    }
}


//  gallery

.popup-gallery {
    row-gap: 2.5rem;

    .single-gallery-item {
        // margin-bottom: 2rem;
        overflow: hidden;
        height: 100%;
        border-radius: 0;

        img {
            width: 100%;
            transition: 0.5s;
            height: 100%;
            border-radius: 0;

        }

        &:hover {
            img {
                transform: scale3d(1.2, 1.2, 1.2);
            }
        }
    }
}

//////////////////////////////////
/// contact us
.contact {

    &__map,
    &__right-part {
        height: 100%;
    }

    &__right-part {
        padding: 3rem;

        @media only screen and (max-width: $bp-xsmall) {
            padding: 5rem 3rem 0;
        }
    }

    &__details {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        font-size: 1.6rem;
        line-height: 2 !important;
        max-width: 42rem;

        embed {
            margin-right: 2rem;
            width: 2.5rem;
            // height: 2rem;
        }

    }

    &__text {
        margin-bottom: 0;
    }


    &__map {
        iframe {
            width: 100%;
            height: 100%;
            ;
        }
    }

}

///////////////////////////////
/// single Service


.single-service {

    &__heading {
        text-align: left;
        align-items: center;
        position: relative;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: row;

        h1 {
            margin-bottom: 0;
        }
    }

    &__img {
        width: 5rem;
        margin-right: 2rem;
    }
}


.container {

    /* Landscape */
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {

        max-width: 95%;

    }

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {

        max-width: 95%;


    }

    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        max-width: 95%;

    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        max-width: 95%;

    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

        max-width: 95%;
    }

    /* Portrait */
    @media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {

        max-width: 95%;
    }

    @media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
        max-width: 95%;

    }

    @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: landscape) {
        max-width: 95%;

    }

    @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: landscape) {
        max-width: 95%;

    }

    @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
        max-width: 95%;

    }

    @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
        max-width: 95%;

    }

    @media only screen and (min-device-width: 480px) and (max-device-width: 640px) and (orientation: landscape) and (min-device-height: 350px) and (max-device-height: 500px) {
        max-width: 95%;
        //enter code here
    }
}